In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['RowNumber','CustomerId','Surname'], axis = 1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
labe_enco_gender = LabelEncoder()
data['Gender']=labe_enco_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
from sklearn.preprocessing import OneHotEncoder
one_hot_enco= OneHotEncoder()
geo_encoded= one_hot_enco.fit_transform(data[["Geography"]])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
one_hot_enco.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(),columns=one_hot_enco.get_feature_names_out(['Geography']))

In [8]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [9]:
data = pd.concat([data.drop("Geography", axis=1),geo_encoded_df], axis =1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
with open("labe_encoder_gender.pkl", 'wb') as file:
    pickle.dump(labe_enco_gender, file)
with open('onehot_encoder_geo.pkl', 'wb')as file:
    pickle.dump(one_hot_enco,file)

In [11]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
X= data.drop("Exited", axis = 1)
Y = data['Exited']

x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size=0.2,random_state=42)

scaler= StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [13]:
with open('scaler.pkl', 'wb' ) as file:
    pickle.dump(scaler,file)

In [14]:
##Trainig a anN

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From C:\Users\Sourav\.conda\envs\ai_env\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [16]:
(x_train.shape[1],)

(12,)

In [17]:
x_train.shape[1]

12

In [18]:
##Build our ANN Model
model=Sequential(
    [ 
        Dense(64, activation='relu', input_shape = (x_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1,activation='sigmoid')
    ]
)

WARNING:tensorflow:From C:\Users\Sourav\.conda\envs\ai_env\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [21]:
##Compile the model
model.compile(optimizer=opt,loss='binary_crossentropy', metrics =['accuracy'])

In [22]:
##Setup the Tensorboard
log_dir='logs/fit/' + datetime.datetime.now().strftime("%Y%M%D-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [23]:
##Setup Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [24]:
##Train the model
history=model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs =100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From C:\Users\Sourav\.conda\envs\ai_env\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Sourav\.conda\envs\ai_env\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 3ms/step - loss: 0.4011 - accuracy: 0.8322 - val_loss: 0.4004 - val_accuracy: 0.8260
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3548 - accuracy: 0.8546 - val_loss: 0.3453 - val_accuracy: 0.8580
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3467 - accuracy: 0.8577 - val_loss: 0.3537 - val_accuracy: 0.8565
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3449 - accuracy: 0.8572 - val_loss: 0.3499 - val_accuracy: 0.8545
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8581 - val_loss: 0.3458 - val_accuracy: 0.8565
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8608 - val_loss: 0.3536 - val_accuracy: 0.8555
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8612 - val_loss: 0.3424 - val_accuracy: 0.8610
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8636 - val_loss: 0.3487 - val_accuracy: 0.8555
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8637 - val_loss: 0.3521 - val_accuracy: 0.8590
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8637 - val_loss: 0.3454 - val_accuracy: 0.8550
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8636 - val_loss: 0.3492 - val_accuracy: 0.8565
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8679 - val_loss: 0.3426 - val_accuracy: 0.8555

In [25]:
model.save('model.h5')

C:\Users\Sourav\.conda\envs\ai_env\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [26]:
##Load tensorBoard extension
%load_ext tensorboard

In [29]:
## %tensorboard --logdir logs/fit/